(
    id: "fruit",
    block_type: "tree",
    asset_dir: "/Users/sheldonknuth/Projects/WorkSpace/gamedev_rust/veloren/assets/world/tree/fruit",
    map: {
        1: "1.vox",
        2: "2.vox",
        3: "3.vox",
        4: "4.vox",
        5: "5.vox",
        6: "6.vox",
    },
    sfx_dir: "null",
    hash_val: 13202036573663522998,
),
(
    id: "pine_green",
    block_type: "tree",
    asset_dir: "/Users/sheldonknuth/Projects/WorkSpace/gamedev_rust/veloren/assets/world/tree/pine_green",
    map: {
        1: "1.vox",
        2: "2.vox",
        3: "3.vox",
        4: "4.vox",
        5: "5.vox",
        6: "6.vox",
        7: "7.vox",
        8: "8.vox",
    },
    sfx_dir: "null",
    hash_val: 6261394924550613758,
),
(
    id: "poplar",
    block_type: "tree",
    asset_dir: "/Users/sheldonknuth/Projects/WorkSpace/gamedev_rust/veloren/assets/world/tree/poplar",
    map: {
        1: "1.vox",
        2: "2.vox",
        3: "3.vox",
        4: "4.vox",
        5: "5.vox",
        6: "6.vox",
        7: "7.vox",
        8: "8.vox",
        9: "9.vox",
        10: "10.vox",
    },
    sfx_dir: "null",
    hash_val: 13384396917546673182,
),
(
    id: "birch",
    block_type: "tree",
    asset_dir: "/Users/sheldonknuth/Projects/WorkSpace/gamedev_rust/veloren/assets/world/tree/birch",
    map: {
        1: "1.vox",
        2: "2.vox",
        3: "3.vox",
        4: "4.vox",
        5: "5.vox",
        6: "6.vox",
        7: "7.vox",
        8: "8.vox",
        9: "9.vox",
        10: "10.vox",
        11: "11.vox",
        12: "12.vox",
    },
    sfx_dir: "null",
    hash_val: 1926067953409424509,
),
(
    id: "oak_stump",
    block_type: "tree",
    asset_dir: "/Users/sheldonknuth/Projects/WorkSpace/gamedev_rust/veloren/assets/world/tree/oak_stump",
    map: {
        1: "1.vox",
        2: "2.vox",
        3: "3.vox",
        4: "4.vox",
        5: "5.vox",
        6: "6.vox",
        7: "7.vox",
        8: "8.vox",
        9: "9.vox",
    },
    sfx_dir: "null",
    hash_val: 10245180611597757649,
),
(
    id: "acacia",
    block_type: "tree",
    asset_dir: "/Users/sheldonknuth/Projects/WorkSpace/gamedev_rust/veloren/assets/world/tree/acacia",
    map: {
        1: "1.vox",
        2: "2.vox",
        3: "3.vox",
        4: "4.vox",
        5: "5.vox",
    },
    sfx_dir: "null",
    hash_val: 5157182633705291821,
),
(
    id: "mangroves",
    block_type: "tree",
    asset_dir: "/Users/sheldonknuth/Projects/WorkSpace/gamedev_rust/veloren/assets/world/tree/mangroves",
    map: {
        1: "1.vox",
        2: "2.vox",
        3: "3.vox",
    },
    sfx_dir: "null",
    hash_val: 17477089557011601305,
),
(
    id: "oak_green",
    block_type: "tree",
    asset_dir: "/Users/sheldonknuth/Projects/WorkSpace/gamedev_rust/veloren/assets/world/tree/oak_green",
    map: {
        1: "1.vox",
        2: "2.vox",
        3: "3.vox",
        4: "4.vox",
        5: "5.vox",
        6: "6.vox",
        7: "7.vox",
        8: "8.vox",
        9: "9.vox",
    },
    sfx_dir: "null",
    hash_val: 14953746703235528264,
),
(
    id: "temperate_small",
    block_type: "tree",
    asset_dir: "/Users/sheldonknuth/Projects/WorkSpace/gamedev_rust/veloren/assets/world/tree/temperate_small",
    map: {
        1: "1.vox",
        2: "2.vox",
        3: "3.vox",
        4: "4.vox",
        5: "5.vox",
        6: "6.vox",
    },
    sfx_dir: "null",
    hash_val: 6027859474101506453,
),
(
    id: "snow_pine",
    block_type: "tree",
    asset_dir: "/Users/sheldonknuth/Projects/WorkSpace/gamedev_rust/veloren/assets/world/tree/snow_pine",
    map: {
        1: "1.vox",
        2: "2.vox",
        3: "3.vox",
        4: "4.vox",
        5: "5.vox",
        6: "6.vox",
        7: "7.vox",
        8: "8.vox",
    },
    sfx_dir: "null",
    hash_val: 16147765750625498806,
),
(
    id: "desert_palm",
    block_type: "tree",
    asset_dir: "/Users/sheldonknuth/Projects/WorkSpace/gamedev_rust/veloren/assets/world/tree/desert_palm",
    map: {
        1: "1.vox",
        2: "2.vox",
        3: "3.vox",
        4: "4.vox",
        5: "5.vox",
        6: "6.vox",
        7: "7.vox",
        8: "8.vox",
        9: "9.vox",
        10: "10.vox",
    },
    sfx_dir: "null",
    hash_val: 2508798654024587338,
),
(
    id: "willow",
    block_type: "tree",
    asset_dir: "/Users/sheldonknuth/Projects/WorkSpace/gamedev_rust/veloren/assets/world/tree/willow",
    map: {
        1: "1.vox",
        2: "2.vox",
    },
    sfx_dir: "null",
    hash_val: 16391514753023575134,
),
